html,body{
	height: 100%;
	width: 100%;
	margin:0;
	padding:0;
	background-color:#667076;
	font-size: 24px;
	}

	
	
	
.headsub{
	height: 25%;
	width: 100%;
	background-color:#667076;
	color:#D9F0FF; 
	float:left;
	display: block;
	text-shadow: 0 0 5px #0A1D25, 0 0 5px #0A1D25;
	border-bottom: 4px solid #0A1D25;
	font-size:16px;
	}
	
@media all and (min-width: 300px) 
		{
			.headsub{
			height: 25%;
			width: 100%;
			background-color:#667076;
			color:#D9F0FF; 
			float:left;
			display: block;
			text-shadow: 0 0 5px #0A1D25, 0 0 5px #0A1D25;
			border-bottom: 4px solid #0A1D25;
			font-size:19px;
			}
		}	
	
	@media all and (min-width: 640px) 
		{
			.headsub
			{
				height: 25%;
				width: 100%;
				background-color:#667076;
				color:#D9F0FF; 
				float:left;
				display: block;
				text-shadow: 0 0 5px #0A1D25, 0 0 5px #0A1D25;
				border-bottom: 4px solid #0A1D25;
				font-size:30px;
			}
		}
		
@media all and (min-width: 900px) 
		{
			.headsub
			{
				height: 25%;
				width: 100%;
				background-color:#667076;
				color:#D9F0FF; 
				float:left;
				display: block;
				text-shadow: 0 0 5px #0A1D25, 0 0 5px #0A1D25;
				border-bottom: 4px solid #0A1D25;
				font-size:36px;
			}
		}
	
.head{
	height: 25%;
	width: 100%;
	background-color:#667076;
	background-image: url("foodheader.png");
	color:#D9F0FF; 
	float:left;
	display: block;
	text-shadow: 0 0 5px #0A1D25, 0 0 5px #0A1D25;
	border-bottom: 4px solid #0A1D25;
	font-size:18px;
	}
	
@media all and (min-width: 300px) 
		{
			.head{
			height: 25%;
			width: 100%;
			background-color:#667076;
			background-image: url("foodheader.png");
			color:#D9F0FF; 
			float:left;
			display: block;
			text-shadow: 0 0 5px #0A1D25, 0 0 5px #0A1D25;
			border-bottom: 4px solid #0A1D25;
			font-size:24px;
			}
		}
	
	@media all and (min-width: 640px) 
		{
			.head
			{
				height: 25%;
				width: 100%;
				background-color:#667076;
				background-image: url("foodheader.png");
				color:#D9F0FF; 
				float:left;
				display: block;
				text-shadow: 0 0 5px #0A1D25, 0 0 5px #0A1D25;
				border-bottom: 4px solid #0A1D25;
				font-size:28px;
			}
		}
		
@media all and (min-width: 900px) 
		{
			.head
			{
				height: 25%;
				width: 100%;
				background-color:#667076;
				background-image: url("foodheader.png");
				color:#D9F0FF; 
				float:left;
				display: block;
				text-shadow: 0 0 5px #0A1D25, 0 0 5px #0A1D25;
				border-bottom: 4px solid #0A1D25;
				font-size:36px;
			}
		}
	


.head_aboutus{
	float:right;
	display:inline-block;
	margin:3px;
	margin-right:13px;
}

.head_pages{
	float:right;
	display:inline-block;
	margin:3px;
	margin-right:13px;
}

.head_contact{
	float:right;
	display:inline-block;
	margin:3px;
	margin-right:13px;
}

.head_content{
	
	margin:5px;
	font-size:16px;
	clear:both;
}

@media all and (min-width: 300px) 
		{
			.head_content
			{
				
				margin:5px;
				font-size:24px;
				clear:both;
			}
		}

@media all and (min-width: 640px) 
		{
			.head_content
			{
				
				margin:5px;
				font-size:36px;
				clear:both;
			}
		}
		
@media all and (min-width: 900px) 
		{
			.head_content
			{
				
				margin:5px;
				font-size:44px;
				clear:both;
			}
		}



	
.head2{
	margin:22px;
	color:#D9F0FF;
	font-family:bold;
	font-size:16px;
	text-shadow: 0 0 5px #0A1D25, 0 0 5px #0A1D25;
}

@media all and (min-width: 300px) 
		{
			.head2{
			margin:36px;
			color:#D9F0FF;
			font-family:bold;
			font-size:19px;
			text-shadow: 0 0 5px #0A1D25, 0 0 5px #0A1D25;
			}
		}


@media all and (min-width: 640px) 
		{
			.head2{
			margin:32px;
			color:#D9F0FF;
			font-family:bold;
			font-size:30px;
			text-shadow: 0 0 5px #0A1D25, 0 0 5px #0A1D25;
			}
		}
		
@media all and (min-width: 900px) 
		{
			.head2{
				font-size:36px;
				margin:36px;
				color:#D9F0FF;
				font-family:bold;
				text-shadow: 0 0 5px #0A1D25, 0 0 5px #0A1D25;
			}
		}	



.container{
	height: 100%;
	width: 100%;
	display: block;
}

.wrapper{
	background-color:#CFDEE3;
	background-image: linear-gradient(to top, #667076 , #CFDEE3);
	float:left;
	width:100%;
	padding-top:5px;
}

.left{
	width:100%;
	margin: 0 auto;
}

.right{
	width:100%;
	margin: 0 auto;
	margin-top:5px;
}

@media all and (min-width: 300px) 
		{
		.left{
			width:100%;
			margin: 0 auto;
		}

		.right{
			width:100%;
			margin: 0 auto;
			margin-top:5px;
			}
		}

@media all and (min-width: 640px) 
		{
			.left{
				width:100%;
				margin: 0 auto;
			}

			.right{
				width:90%;
				margin: 0 auto;
				margin-top:5px;
			}	
		}
		
@media all and (min-width: 900px) 
		{
			.left{
				background-color:#CFDEE3;
				background-image: linear-gradient(to top, #667076 , #CFDEE3);
				float:left;
				width:70%;
			}

			.right{
				float:left;
				width:30%;
			}	
		}

.bottom{
	height: 10%;
	width: 100%;
	background-color:#667076;
	color:#D9F0FF;
	clear:left;
	float:left;
	display: block;
	clear:both;
	}

.bottom_text{
	text-align:center;	
	font-size:18px;
	margin:1%;
	font-style:italic;
}	

@media all and (min-width: 300px) 
		{
			.bottom_text{
			text-align:center;	
			font-size:20px;
			margin:1%;
			font-style:italic;
			}
		}

@media all and (min-width: 640px) 
		{
			.bottom_text{
			text-align:center;	
			font-size:28px;
			margin:1%;
			font-style:italic;
			}	
		}
		
@media all and (min-width: 900px) 
		{
			.bottom_text{
				text-align:center;	
				font-size:36px;
				margin:1%;
				font-style:italic;
			}	
		}


.article{
	background-color: #CFDEE3;
	background-image: linear-gradient(to right, #CFDEE3 , white);
	border: 3px solid #0A1D25;
	width:100%;
	height:100%;
	overflow:hidden;
	margin:0;
	padding:0;
	box-sizing: border-box;
	font-size: 12px;
}

@media all and (min-width: 300px) 
		{
			.article{
			background-color: #CFDEE3;
			background-image: linear-gradient(to right, #CFDEE3 , white);
			border: 3px solid #0A1D25;
			width:100%;
			height:100%;
			overflow:hidden;
			margin:0;
			padding:0;
			box-sizing: border-box;
			font-size: 15px;
			}
		}	

@media all and (min-width: 640px) 
		{
			.article
			{
				background-color: #CFDEE3;
				background-image: linear-gradient(to right, #CFDEE3 , white);
				border: 3px solid #0A1D25;
				width:100%;
				height:100%;
				overflow:hidden;
				margin:0;
				padding:0;
				box-sizing: border-box;
				font-size: 17px;
			}
		}
		
@media all and (min-width: 640px) 
		{
			.article
			{
				background-color: #CFDEE3;
				background-image: linear-gradient(to right, #CFDEE3 , white);
				border: 3px solid #0A1D25;
				width:100%;
				height:100%;
				overflow:hidden;
				margin:0;
				padding:0;
				box-sizing: border-box;
				font-size: 19px;
			}
		}

.section{
	overflow:hidden;
	background-image: linear-gradient(to left, #CFDEE3 , white);
	width:90%;
	height:100%;
	overflow:hidden;

	margin: 0 auto;
	box-sizing: border-box;
	border: 3px solid #0A1D25;
}

@media all and (min-width: 640px) 
		{
			.section{
				width:100%;
				height:100%;
				overflow:hidden;
				background-image: linear-gradient(to left, #CFDEE3 , white);
				margin:0;
				padding:0;
				box-sizing: border-box;
				border: 3px solid #0A1D25;
			}
		}

@media all and (min-width: 640px) 
		{
			.section{
				width:100%;
				height:100%;
				overflow:hidden;
				background-image: linear-gradient(to left, #CFDEE3 , white);
				margin:0;
				padding:0;
				box-sizing: border-box;
				border: 3px solid #0A1D25;
			}
		}
		
@media all and (min-width: 900px) 
		{
			.section{
				width:100%;
				height:100%;
				overflow:hidden;
				background-image: linear-gradient(to left, #CFDEE3 , white);
				margin:0;
				padding:0;
				box-sizing: border-box;
				border: 3px solid #0A1D25;
			}
		}

.section_head{
	font-style:italic;
	margin-left:10px;
	display: inline-block;
	font-size:14px;
}

@media all and (min-width: 640px) 
		{
			.section_head
			{
				font-style:italic;
				margin-left:10px;
				display: inline-block;
				font-size:16px;
			}
		}

@media all and (min-width: 640px) 
		{
			.section_head
			{
				font-style:italic;
				margin-left:15px;
				display: inline-block;
				font-size:24px;
			}
		}
		
@media all and (min-width: 900px) 
		{
			.section_head
			{
				font-style:italic;
				margin-left:35px;
				display: inline-block;
				font-size:32px;
			}
		}

.section_content{
	margin: 0px;
	font-size:15px;
}

@media all and (min-width: 300px) 
		{
			.section_content
			{
				margin: 0px;
				font-size:17px;
			}
		}

@media all and (min-width: 640px) 
		{
			.section_content
			{
				margin: 3px;
				font-size:23px;
			}
		}

@media all and (min-width: 900px) 
		{
			.section_content
			{
				margin: 5px;
				font-size:35px;
			}
		}
		

.article_joinup{
	background-color: #CFDEE3;
	background-image: linear-gradient(to right, #CFDEE3 , white);
	border-right: 3px solid #0A1D25;
	border-left: 3px solid #0A1D25;
	border-bottom: 3px solid #0A1D25;
	width:100%;
	height:100%;
	overflow:hidden;
	margin:0;
	padding:0;
	box-sizing: border-box;
}

.content{
	background-color: #CFDEE3;
	background-image: linear-gradient(to right, #CFDEE3 , white);
	border:3px solid #0A1D25;
	width:90%;
	height:100%;
	overflow:hidden;
	margin: 0 auto;
	box-sizing: border-box;
}

@media all and (min-width: 300px) 
		{
			.content{
			background-color: #CFDEE3;
			background-image: linear-gradient(to right, #CFDEE3 , white);
			border:3px solid #0A1D25;
			width:90%;
			height:100%;
			overflow:hidden;
			margin: 0 auto;
			box-sizing: border-box;
			}
		}

@media all and (min-width: 640px) 
		{
			.content{
			background-color: #CFDEE3;
			background-image: linear-gradient(to right, #CFDEE3 , white);
			border:3px solid #0A1D25;
			width:90%;
			height:100%;
			overflow:hidden;
			margin: 0 auto;
			box-sizing: border-box;
			}
		}

@media all and (min-width: 900px) 
		{
			.content{
			background-color: #CFDEE3;
			background-image: linear-gradient(to right, #CFDEE3 , white);
			border:3px solid #0A1D25;
			width:90%;
			height:100%;
			overflow:hidden;
			margin-left:5px;
			margin-right:5px;
			padding:15px;
			box-sizing: border-box;
			}
		}



.ar_prev{
	float:right;
	font-size: 13px;
}

.ar_next{
	float:left;
	font-size: 13px;
}

@media all and (min-width: 300px) 
		{
			.ar_prev{
				float:right;
				font-size: 16px;
			}

			.ar_next{
				float:left;
				font-size: 16px;
			}
		}

@media all and (min-width: 640px) 
		{
			.ar_prev{
				float:right;
				font-size: 20px;
			}

			.ar_next{
				float:left;
				font-size: 20px;
			}
		}

@media all and (min-width: 900px) 
		{
			.ar_prev{
				float:right;
				font-size: 26px;
			}

			.ar_next{
				float:left;
				font-size: 26px;
			}		
		}

.ar_category{
	font-size:14px;
	font-style:italic;
	margin-left:6px;
	display: inline-block;
	height:5%;
}

@media all and (min-width: 300px) 
		{
			.ar_category
			{
				font-size:14px;
				font-style:italic;
				margin-left:16px;
				display: inline-block;
				height:5%;
			}
		}


@media all and (min-width: 640px) 
		{
			.ar_category
			{
				font-size:22px;
				font-style:italic;
				margin-left:26px;
				display: inline-block;
				height:5%;
			}
		}
		
@media all and (min-width: 900px) 
		{
			.ar_category
			{
				font-size:28px;
				font-style:italic;
				margin-left:30px;
				display: inline-block;
				height:5%;
			}
		}

.ar_title{
	font-size:24px;
	font-weight:bold;
	margin-left:10px;
	height:5%;
}

@media all and (min-width: 300px) 
		{
			.ar_title
			{
				font-size:24px;
				font-weight:bold;
				margin-left:16px;
				height:13%;
			}
		}


@media all and (min-width: 640px) 
		{
			.ar_title
			{
				font-size:36px;
				font-weight:bold;
				margin-left:30px;
				height:15%;
			}
		}
		
		@media all and (min-width: 900px) 
		{
			.ar_title
			{
				font-size:44px;
				font-weight:bold;
				margin-left:45px;
				height:15%;
			}
		}

.ar_date{
	font-size:14px;
	font-style:italic;
	margin-left:5px;
	display: inline-block;
	height:5%;
}

@media all and (min-width: 300px) 
		{
			.ar_date{
			font-size:14px;
			font-style:italic;
			margin-left:10px;
			display: inline-block;
			height:5%;
			}
		}
		

@media all and (min-width: 640px) 
		{
			.ar_date
			{
				font-size:20px;
				font-style:italic;
				margin-left:50px;
				display: inline-block;
				height:5%;
			}
		}
		
@media all and (min-width: 900px) 
		{
			.ar_date
			{
				font-size:28px;
				font-style:italic;
				margin-left:65px;
				display: inline-block;
				height:5%;
			}
		}

.ar_desc{
	margin: 3px;
	height:45%;
	font-size:14px;
}

@media all and (min-width: 300px) 
		{
			.ar_desc
			{
				margin: 5px;
				height:45%;
				font-size:15px;
			}
		}

@media all and (min-width: 640px) 
		{
			.ar_desc
			{
				font-size:20px;
				margin: 5px;
				height:40%;
			}
		}
		
@media all and (min-width: 900px) 
		{
			.ar_desc
			{
				font-size:30px;
				margin: 5px;
				height:40%;
			}
		}

.head2 .ar_date{
	font-size:14px;
	font-style:italic;
	display: inline-block;
	margin: 0 auto;
	height:5%;
}

.head2 .ar_category{
	font-size:14px;
	font-style:italic;
	display: inline-block;
	margin: 0 auto;
	height:5%;
}

.ar_continue{
	font-size:14px;
	margin-top: 5px;
	margin-left: 5px;
	position:relative;
	bottom: 0;
	height:10%;
}

@media all and (min-width: 640px) 
		{
			.ar_continue
			{
				font-size:18px;
				margin-top: 25px;
				margin-left: 5px;
				position:relative;
				bottom: 0;
				height:10%;
				
			}
		}
		
@media all and (min-width: 900px) 
		{
			.ar_continue
			{
				font-size:28px;
				margin-top: 50px;
				margin-left: 5px;
				position:relative;
				bottom: 0;
				height:10%;
				
			}
		}

img{
	border: 2px solid #0A1D25;
	overflow:hidden;
}

.ar_image{
 float:right;
 height:100%;
 position:relative;
 overflow:hidden;
}

.ar_image img{
	width:110px;
	height:100%;
	overflow:hidden;
	border: 0px;
}

@media all and (min-width: 300px) 
		{
			.ar_image img{
				width:165px;
				height:100%;
				overflow:hidden;
				border: 0px;
			}
		}

@media all and (min-width: 640px) 
		{
			.ar_image img 
			{
				width:290px;
				height:100%;
				overflow:hidden;
				border: 2px solid black;
				
			}
		}

@media all and (min-width: 900px) 
		{
			.ar_image img 
			{
				width:370px;
				height:100%;
				overflow:hidden;
				border: 2px solid black;
				
			}
		}


.ar_image_left{
 height:100%;
 position:relative;
 overflow:hidden;
}

.ar_image_left img{
	width:240px;
	height:100%;
	overflow:hidden;
	border: 0px;
}

@media all and (min-width: 300px) 
		{
			.ar_image_left img{
			width:360px;
			height:100%;
			overflow:hidden;
			border: 0px;
			}
		}

@media all and (min-width: 640px) 
		{
			.ar_image_left img 
			{
				width:720px;
				height:100%;
				overflow:hidden;
				border: 2px solid black;
				
			}
		}

@media all and (min-width: 900px) 
		{
			.ar_image_left img 
			{
				width:640px;
				height:100%;
				overflow:hidden;
				border: 2px solid black;
				
			}
		}
		
		
	
article{
	height:140px;
	width:97%;
	margin: 0 auto;
}	

@media all and (min-width: 300px) 
		{
			article
			{
				height:190px;
				width:93%;
				margin: 0 auto;
			}
		}


@media all and (min-width: 640px) 
		{
			article
			{
				height:350px;
				width:90%;
				margin: 0 auto;
				
			}
		}

@media all and (min-width: 900px) 
		{
			article
			{
				height:400px;
				width:85%;
				margin: 0 auto;
				
			}
		}

section{
	width:100%;
}

@media all and (min-width: 300px) 
		{
			section{
				width:100%;
			}
		}

@media all and (min-width: 640px) 
		{
			section{
				width:100%;
			}
		}

@media all and (min-width: 900px) 
		{
			section{
				width:95%;
			}
		}


h1{
	overflow:hidden;
}

h2{
	overflow:hidden;
}

h3{
	font-weight:bold;
	color:black;
}
	
.head a{
	text-decoration:none;
	color:#D9F0FF;
}

.head a:hover{
	text-decoration:none;
	color:#D9F0FF;
	text-shadow: 0 0 12px #D9F0FF;
}

.headsub a{
	text-decoration:none;
	color:#D9F0FF;
}

.headsub a:hover{
	text-decoration:none;
	color:#D9F0FF;
	text-shadow: 0 0 12px #D9F0FF;
}


a{
	text-decoration:none;
	color:#0A1D25;
}

a:hover{
	text-decoration:none;
	color:#0A1D25;
	text-shadow: 0 0 1px #0A1D25;
}
	
	
.section ol{
	list-style-type:none;
	margin:0;
	padding:0;
}

li{
	margin:15px;
}

input[type="text"]{
	background-color: #CFDEE3;
	border: 2px solid #0A1D25;
	width:100px;
	height:15px;
	font-size:15px;
}

input[type="password"]{
	background-color: #CFDEE3;
	border: 2px solid #0A1D25;
	width:100px;
	height:15px;
	font-size:15px;
}

@media all and (min-width: 640px) 
		{
			input[type="password"], input[type="text"]
			{
				background-color: #CFDEE3;
				border: 2px solid #0A1D25;
				width:150px;
				height:30px;
				font-size:17px;
			}
		}
		
		@media all and (min-width: 960px) 
		{
			input[type="password"], input[type="text"]
			{
				background-color: #CFDEE3;
				border: 2px solid #0A1D25;
				width:200px;
				height:40px;
				font-size:18px;
			}
		}

select,option{
	background-color: #CFDEE3;
	border: 2px solid #0A1D25;
	width:100px;
	height:20px;
	font-size:15px;
}

@media all and (min-width: 640px) 
		{
			select,option
			{
				background-color: #CFDEE3;
				border: 2px solid #0A1D25;
				width:150px;
				height:30px;
				font-size:17px;
			}
		}
		
		@media all and (min-width: 960px) 
		{
			select,option
			{
				background-color: #CFDEE3;
				border: 2px solid #0A1D25;
				width:200px;
				height:40px;
				font-size:18px;
			}
		}

textarea{
	background-color: #CFDEE3;
	border: 2px solid #0A1D25;
	width:100px;
	height:20px;
	font-size:15px;
}

@media all and (min-width: 640px) 
		{
			textarea
			{
				background-color: #CFDEE3;
				border: 2px solid #0A1D25;
				width:150px;
				height:30px;
				font-size:17px;
			}
		}
		
		@media all and (min-width: 960px) 
		{
			textarea
			{
				background-color: #CFDEE3;
				border: 2px solid #0A1D25;
				width:200px;
				height:40px;
				font-size:18px;
			}
		}


table {
    border:2px solid  #0A1D25;
    border-collapse: collapse;
}

table td {
    border-left: 2px solid  #0A1D25;
    border-right: 2px solid  #0A1D25;
}

table td:first-child {
    border-left: none;
}

table td:last-child {
    border-right: none;
}

table th {
    border-left: 2px solid  #0A1D25;
    border-right: 2px solid  #0A1D25;
}

td{
	width:150px;
	height:40px;
	padding:10px;
}

th{
	border-bottom: 2px solid  #0A1D25;
	width:150px;
	height:40px;
	padding:10px;
}

table th:first-child {
    border-left: none;
}

table th:last-child {
    border-right: none;
}

